In [1]:
# often mutation takes place 
# in case of df operation
# but python and pandas offers
# a cool way to achieve that same objective
# aka, method chaining

In [69]:
import pandas as pd
import os
os.getcwd()

'D:\\Users\\drath'

In [67]:
df = pd.DataFrame({"sitting_time":[30,45,60,15,15],
                   "type":["reg","reg","reg","irregular","irregular"],
                  "score_1":[70,80,86,69,91],
                   "score_2":[65,76,59,82,77],
                  "session":["half_year","half_year","half_year","annual","annual"]})
df

   sitting_time       type  score_1  score_2    session
0            30        reg       70       65  half_year
1            45        reg       80       76  half_year
2            60        reg       86       59  half_year
3            15  irregular       69       82     annual
4            15  irregular       91       77     annual

In [65]:
# mutation ----------DO NOT DO THIS -------
df = df.query("sitting_time > 30 and type=='reg'")
df["score"] = df[["score_1","score_2"]].sum(axis=1)
df = df[["session","score"]]
df = df.groupby("session").agg(["count","mean"])
df = df.droplevel(axis=1,level=0)
df = df.query("count > 1")
df

<ipython-input-65-24d5d9f9f923>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["score"] = df[["score_1","score_2"]].sum(axis=1)

           count   mean
session
half_year      2  150.5

In [68]:
# method chaining ----------DO THIS--------
df = (df.query("sitting_time > 30 and type=='reg'")
      .assign(score = lambda df:df[["score_1","score_2"]].sum(axis=1))[["session","score"]]
      .groupby("session")
      .agg(["count","mean"])
      .droplevel(axis=1,level=0)
      .query("count>1"))
df

           count   mean
session
half_year      2  150.5